th.orb-header { border: 1px solid #C4DCB3; padding: 4px; background: #7C9F61 }

td.orb-detail { border: 1px solid #DFEBD5; padding: 4px; background: #C4DCB3 }

td.orb-detailVisible { border: 1px solid #F9A152; padding: 4px; background: #F18636 }
